/[4,6,2,3] 原始.xmind
/[4,6,2,3].png
/[4,6,2,3].xmind
/[i,j].png
/~$金罐游戏_薛雨坤.pptx
/弹出].xmind
/示例.png
/示例2.png
/金罐中金币个数（已排列）    A    B    4, 6, 2,  3           3         4, 6, 2         4    6, 2    6         2         2         9.md
/金罐游戏_薛雨坤.pptx